/* General Styles */

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #2c3340;
	color: #fff;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	margin-left: -2.5em;
}

section,
nav,
footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

/* Navigation Styles */

nav {
	background-color: #475772;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	width: 100%;
	position: fixed;
	z-index: 21;
}

.nav_items {
	font-size: 1.4em;
	width: 50%;
}

nav ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-right: 3em;
}

nav li {
	cursor: pointer;
	-webkit-animation: 1s fade 0.5s forwards;
	animation: 1s fade 0.5s ease-in forwards;
	opacity: 0;
}

.nav_items ul li a {
	padding-left: 3em;
	color: #ffb86c;
	opacity: 0.75;
	z-index: 20;
}

.nav_items ul li a:hover {
	opacity: 1;
	z-index: 20;
}

nav span {
	display: none;
	z-index: 20;
	font-size: 24px;
	color: #4af0f6;
}

@-webkit-keyframes fade {
	100% {
		opacity: 1;
	}
}

@keyframes fade {
	100% {
		opacity: 1;
	}
}

/* About Styles */

#summary {
	min-height: 100vh;
}

.summary_name {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column;
	flex-flow: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 3em;
	font-weight: bold;
	padding-top: 1em;
	z-index: 2;
}

.summary_name h2 {
	padding-top: 0.5em;
	z-index: 2;
}


.summary_wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

#logo {
	padding-bottom: 1em;
	padding-top: 0.5em;
	width: 500px;
	height: 375px;

}

.st0,
.st1 {
	fill: none;
	stroke: #000000;
	stroke-width: 5;
	stroke-miterlimit: 10;
	stroke-dasharray: 1300;
	stroke-dashoffset: 1300;
}

.st0 {
	-webkit-animation: dash 2500ms 2000ms linear forwards;
	animation: dash 2500ms 2000ms linear forwards;
}

.st1 {
	-webkit-animation: dash 2000ms 3000ms linear forwards;
	animation: dash 2000ms 3000ms linear forwards;
}

@-webkit-keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
	}
}

.summary_sum {
	text-align: center;
	font-size: 2em;
	padding-left: 1em;
	padding-right: 0.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	z-index: 20;
}

.summary_name,
.summary_sum {
	-webkit-animation: 1s fade 1s ease-in forwards;
	animation: 1s fade 1s ease-in forwards;
	opacity: 0;
}

/* Projects Styles */

#projects {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 96vh;
	background: #475e75;

}

#projects h2 {
	-ms-flex-item-align: center;
	align-self: center;
	font-size: 2.9em;
	font-weight: bold;
	z-index: 20;
	padding-top: 5vh;
}


.projects_container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-top: 9vh;

}

.projects_card {
	background-color: #FFFAF0;
	border-radius: 0 0 15px 15px;
	-webkit-box-shadow: 4px 4px 10px 0 rgba(64, 69, 66, 0.9);
	box-shadow: 4px 4px 10px 0 rgba(64, 69, 66, 0.9);
	-webkit-transition: 0.3s;
	transition: 0.3s;
	width: 250px;
	margin-top: 0.7em;
	margin-bottom: 1em;
	margin-left: 5px;
	margin-right: 5px;

}

.projects_card:hover {
	-webkit-transform: scale(1.1, 1.1);
	transform: scale(1.1, 1.1);
}

.projects_card_img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

}

.projects_card_img img {
	width: 250px;
	height: 200px;
}

.projects_card_title img {
	margin-right: 0.5em;
	width: 24px;
	height: 24px;
}

.projects_card_title,
.projects_card_content {
	color: #161616;
	padding-left: 1em;
	padding-right: 0.5em;
}

.projects_card_content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

#skills {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-flow: column wrap;
	flex-flow: column wrap;
	line-height: 1.5em;
	min-height: 80vh;
}

#skills h2 {
	-ms-flex-item-align: center;
	align-self: center;
	font-size: 2.9em;
	padding-top: 7vh;
	font-weight: bold;
	z-index: 20;
}

.skills_webdev {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	width: 100%;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	padding-top: 10vh;
	z-index: 20;
}

.skills_webdev img {
	width: 24px;
	height: 24px;
}

.skills_webdev ul {
	font-size: 1.2em;
	line-height: 1.5em;
	width: 190px;
	margin-left: 0.1em;
}

#projects,
#skills {
	padding-bottom: 1em;
}

/* Footer Styles */

footer {
	-ms-flex-pack: distribute;
	justify-content: space-around;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #475772;
	padding: 20px 0;
	z-index: 2;
}

footer ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	z-index: 2;
	margin-right: 2.5em;
}

footer ul li {
	margin-left: 1em;
}

footer ul li a img {
	margin-left: 1em;
	opacity: 0.8;
	z-index: 2;
	cursor: pointer;
	width: 32px;
	height: 32px;
}

footer ul li a img:hover {
	opacity: 1;
}

/* Media Queries */

@media screen and (max-width:661px) {

	nav {
		padding-bottom: 2.5em;
	}

	.main-nav {
		display: none;
	}
	
	.main-nav li {
		padding-top: 0.8em;
		padding-right: 0.5em;

	}
	.nav span {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
	}

	.nav_items ul li a {
		padding-left: inherit;
	}
	
	nav li,
	.nav_items ul li a {
		opacity: 1;
	}

	.navbar-toggle {
		position: absolute;
		top: 4px;
		right: 20px;
		cursor: pointer;
		z-index: 21;
	}

	.active {
		display: block;
		margin-bottom: -1em;
		margin-top: -0.5em;
		margin-left: -3em;
		width: 50px;
	}

	.summary_name {
		font-size: 1.7em;
		padding-bottom: 2em;
		padding-top: 3em;
	}

	.summary_name h2 {
		margin-bottom: -1em;
	}

	#logo {
		margin-top: 1.5em;
		width: 300px;
	}

	.summary_sum {
		font-size: 1.45em;
	}

	.skills_webdev ul {
		margin-left: 2em;
	}

	footer ul li a i {
		opacity: 1;
	}
	
	footer ul li a img {
		width: 28px;
		height: 28px;
	}
}

@media screen and (min-width:2300px) {
	.nav_items ul li a {
		font-size: 1.7em;
	}

	.summary_name h2 {
		font-size: 3em;
	}

	.summary_sum {
		font-size: 3em;
	}

	#logo {
		width: 800px;
		height: 575px;
	}

	#projects h2,
	#skills h2 {
		font-size: 3.9em;

	}

	#skills {
		min-height: 88vh;
	}
	.projects_card {
		width: 400px;
		font-size: 1.5em;
	}

	.projects_card_img img {
		width: 400px;
		height: 300px;
	}

	.projects_card_title img {
		width: 36px;
		height: 36px;
	}

	.skills_webdev ul {
		font-size: 2.2em;
		width: 380px;
	}

	.skills_webdev img {
		width: 40px;
		height: 40px;
	}

	footer ul li a img {
		width: 48px;
		height: 48px;
		margin-left: 2em;
	}
}


#particles-js canvas {
	display: block;
	vertical-align: bottom;
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	-webkit-transition: opacity .8s ease, -webkit-transform 1.4s ease;
	transition: opacity .8s ease, -webkit-transform 1.4s ease;
	transition: opacity .8s ease, transform 1.4s ease;
	transition: opacity .8s ease, transform 1.4s ease, -webkit-transform 1.4s ease
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0
}
